<app-header titulo="Card"></app-header>

<ion-content>
<ion-card mode="ios" color="primary">
  <ion-card-header>
    <ion-card-subtitle>
      Card subtitle
    </ion-card-subtitle>
    <ion-card-title>Card title</ion-card-title>
  </ion-card-header>
  <ion-card-content>Esto es un ejemplo de como quedaria el card, por esta razon es que estoy escribiendo bastante para que se haga como un parrafo a ver que tal queda</ion-card-content>
</ion-card>

<ion-card>
  <ion-item color="primary">
    <ion-icon color="light" name="pin" slot="start" ></ion-icon>
    <ion-label>Marcador</ion-label>
  </ion-item>
  <ion-card-content>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus eaque molestias alias voluptatem voluptates ea reprehenderit rem perspiciatis dicta deserunt, exercitationem voluptatum recusandae, soluta ipsa nostrum repellat animi impedit at.</ion-card-content>
</ion-card>

<ion-card>
  <ion-img src="/assets/shapes.svg" ></ion-img>
  <ion-card-content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias voluptas deleniti natus, architecto soluta quod molestiae vitae suscipit eius laudantium. Unde consequatur numquam ex at corrupti obcaecati assumenda harum sint?
  </ion-card-content>
</ion-card>
</ion-content>
